body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #84BCDA;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #011627;
}

.question {
    font-size: 1.2rem;
    margin-bottom: 20px;
    flex: 1;
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    flex: 1;
}

.choice-btn {
    padding: 10px;
    border: 3px solid #011627;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    font-size: 1em;
}

.choice-btn:hover {
    background-color: #f0f0f0;
}

.no-hover:hover {
    background-color: #fff;
}

.feedback {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    flex: 1;
}

.correct {
    background-color: #c2f5dc;
    color: #145937;
}

.incorrect {
    background-color: #f8d7da;
    color: #721c24;
}

.warning {
    background-color: #f9edb6;
    color: #5e4e04;
}

#hud {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hud-item {
    flex:1;
    dding-bottom: 20px;
}
.score {
    font-weight: bold;
    margin-bottom: 20px;
    flex: 1;
}
#score-display {
   animation-duration: 1s;
   animation-timing-function: ease-in;
}

.flash { animation-name: flashGreen; }
@keyframes flashGreen {
   0% {
       color: #011627;
   }

   5% {
       color: #32DE8A;
   }

   95% {
       color: #011627;
   }

}

.finish-btn, .submit-btn, .next-btn, .start-btn {
    padding: 10px 20px;
    background-color: #067BC2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.finish-btn:hover, .submit-btn:hover, .next-btn:hover, .start-btn:hover {
    background-color: #044a74;
}

.results {
    text-align: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}

#loader {
    align-self: center;
    border: 1.6rem solid #ffffff;
    border-radius: 50%;
    border-top: 1.6rem solid #067BC2;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
	transform: rotate(360deg);
    }
}
